# API URLs
# Local frontend (localhost) will use LOCAL API URL
# Deployed frontend will use REMOTE API URL
REACT_APP_LOCAL_API_BASE_URL=http://localhost:5000/api
REACT_APP_REMOTE_API_BASE_URL=https://student-aid-1mvg.onrender.com/api
REACT_APP_API_BASE_URL=https://student-aid-1mvg.onrender.com/api
VITE_LOCAL_API_BASE_URL=http://localhost:5000/api
VITE_REMOTE_API_BASE_URL=https://student-aid-1mvg.onrender.com/api
VITE_API_BASE_URL=https://student-aid-1mvg.onrender.com/api
